* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
}


/*.container {*/
/*    width: 90%;*/
/*    margin: auto 30px;*/
/*}*/
/*.main-body {*/
/*    background-color: #d2eef6;*/
/*}*/
